* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--grey--text);
}

:root {
    --main--color: rgb(242, 246, 246);
    --main-sub-color: rgb(232, 240, 240);
    --grey--text: rgb(99, 99, 99);
    --main--blue: rgb(121, 152, 255);
    --sub--blue: rgb(182, 199, 255);
    --green--color: rgb(152, 255, 167);
    --error: rgb(253, 144, 144);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main--color);
}

.content {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

#new-task-input {
    width: 15rem;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    border-radius: 10px;
}

#new-task-button {
    background-color: var(--main--blue);
    border-radius: 30%;
    padding: 0.6rem;
    cursor: pointer;
    color: black;
}
#new-task-button:hover {
    background-color: var(--sub--blue);
    transition: 2s;
    border-radius: 100%;
}

.main-content {
    width: 100%;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--grey--text);
    text-transform: capitalize;
}

#to-do-list li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#to-do-list li:hover {
    background-color: var(--main-sub-color);
    transition: .5s;
    border-radius: 1rem;
    padding-left: 1rem;
}

#to-do-list-btn {
    background-color: var(--green--color);
    border-radius: 50%;
    padding: 0.6rem;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#to-do-list-btn:hover {
    background-color: var(--error);
    transition: 0.5s;
}